html,
body {
  height: 100%;
}

body {
  @extend %dmsans-400 ;
  font-size: 14px;
  line-height: 30px;
  color: $default;
  display: flex;
  flex-direction: column;
}


a {
  color: $default;
}

.main {
  flex-grow: 1;
}

.big-container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.small-container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  max-width: 109px;
  width: 100%;
  font-size: 14px;
  background-color: $bg-btn;
  padding: 9px 9px;
  border: none;
  color: #fff;
}